body {
	background-color: #21262b;
	color: white;
	font-family: futura-light;
}

a:link {
    color: #0090d9;
}

/* visited link */
a:visited {
    color: #0090d9;
}

/* mouse over link */
a:hover {
    color: #0090d9;
}

/* selected link */
a:active {
    color: #0090d9;
}

h1{
	color: #fb3744;
	text-align: center;
}

.concept{
	font-weight: bold;
}

.clickable{
	cursor: pointer;
}

.tree {
	font-size: large;
	text-align: center;
	overflow-y: hidden;
	overflow-x: auto;
}
.word, .tag, .dependency {
	text-anchor: middle;
}
.word {
	fill: #888888;
	cursor: default;
}
.tag {
	fill: #888888;
	font-size: .9em;
}
.edge, .arrow {
	fill: none;
	stroke: #888888;
	stroke-width: 1.5;
	font-size: .9em;
}
.dependency {
	fill: #888888;
	font-size: 15px;
}

.dependency.active {
	fill: white;
}
.edge.active, .arrow.active {
	stroke: white;
}

.word.source{
	fill: #9f1bfe;
}

.word.target{
	fill: #c12ab5;
}

.tag.source{
	visibility: visible;
	fill: white;
}

.tag.target{
	visibility: visible;
	fill: white;
}

.sentences {
	width: 25%;
}
.sentences ul{
	list-style-type: none;
	height: 100vw;
	overflow-y: scroll;
	float: left;
	padding-left: 0;
	margin: 20px 0;
	font-size: large;
}
.metanet_viewer{
	width: 70%;
} 
.source{
	background-color: #9f1bfe;
	border-radius:10px;
	border: 2px solid #9f1bfe;
}

.source .conceptbox{
	border-radius:10px;
	border: 2px solid #b866fe;
	background-color: #b866fe;
	padding: 10px;
}

.target{
	border-radius:10px;
	background-color: #c12ab5;
	border: 2px solid #c12ab5;
}

.target .conceptbox{
	border-radius:10px;
	border: 2px solid #ff4d88;
	background-color: #ff4d88;
	padding: 10px;
}

.parseFail{
	color: #888888;
}

.frame{
	font-size: large;	
}