body {
	background-color: #21262b;
	color: white;
	font-family: futura-light;
}

h1{
	color: #fb3744;
	text-align: center;
}

concept{
	font-weight: bold;
}

.tree {
	font-size: 14px;
	text-align: center;
	overflow-y: hidden;
	overflow-x: auto;
}
.word, .tag, .dependency {
	text-anchor: middle;
}
.word {
	fill: #555;
	cursor: default;
}
.tag {
	fill: #777;
	font-size: .9em;
}
.edge, .arrow {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5;
}
.dependency {
	fill: #ccc;
	font-size: 15px;
}

.dependency.active {
	fill: #3276b1;
}
.word.active, .edge.active, .arrow.active {
	stroke: #3276b1;
}
.word.w0 {
	fill: #ccc;
}
.sentences {
	width: 25%;
}
.sentences ul{
	list-style-type: none;
	height: 100vw;
	overflow-y: scroll;
	float: left;
	padding-left: 0;
	margin: 20px 0;
	font-size: large;
}
.metanet_viewer{
	width: 70%;
} 
.source{
	background-color: #9f1bfe;
	border-radius:10px;
	border: 2px solid #9f1bfe;
	cursor: pointer;
}

.source .conceptbox{
	border-radius:10px;
	border: 2px solid #b866fe;
	background-color: #b866fe;
	padding: 10px;
}

.target{
	border-radius:10px;
	background-color: #c12ab5;
	border: 2px solid #c12ab5;
	cursor: pointer;
}

.target .conceptbox{
	border-radius:10px;
	border: 2px solid #ff4d88;
	background-color: #ff4d88;
	padding: 10px;
}

.parseFail{
	color: #888888;
}

.frame{
	font-size: large;	
}